.community {
    font-size: 50px;
    color: rgb(16, 105, 75);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.back {
    font-size: 30px;
    color: rgb(133, 163, 22);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.access {
    text-align: center;
}